.a1{
    background-color:aqua;
    color: black;
}
.a2{
    color:black;
    background-color: green;
}
.a3{
    color: black;
    background-color: white;
}
.a4{
    color: aliceblue;
    background-color: blue;
}
.b1{
    background-color: red;
    color: black;
}
.b2{
    background-color:orange;
    color: black;
}
.b3{
    background-color: yellow;
    color: black;
}
.b4{
    background-color: brown;
    color: antiquewhite;
}
#c1{
    background-color: gray;
    color:black;
}
#c2{
    background-color: cornflowerblue;
    color: black;
}
#c3{
    background-color: cyan;
    color: black;
}
#c4{
    background-color: blueviolet;
    color: black;
}
#d1{
    background-color: wheat;
    color: black;
}
#d2
{
    background-color: goldenrod;
    color: black;
}
#d3{
    background-color: pink;
    color: black;
}
#d4{
    background-color: chocolate;
    color: black;
}